<label style="visibility: hidden; display: none; height: 0px;" id="pageTitle"
       title="Reset your Account"></label>

<p>You need to set up a new password for your account.</p>

<br />

<form action="/reset" method="post" onsubmit="return isValid()">

    {% for field in fields %}
        <input name="{{ field }}" type="text" style="visibility: hidden; display: none; height: 0px;" value="{{ fields[field] }}" autocomplete="off"></input>
    {% endfor %}


    <div class="password-field">
        Enter a new password for your account<br />
        <input id="password" name="password" type="password" placeholder="Password" autocomplete="off" onkeyup="checkPassword()"/>


        <div class="password-advice" id="password-advice">
            Your password does not meet the complexity requirements.<br />
            <br />
            It must be at least 8 characters long, and contain at mixture of upper case and lower case letters and numbers or symbols.
        </div>
    </div>

    <div class="password-field">
        Confirm the new password<br />
        <input id="password-confirm" name="password-confirm" type="password" placeholder="Confirm Password" autocomplete="off" onkeyup="checkConfirm()"/>


        <div class="password-advice" id="confirm-advice">
            This does not match the password above.
        </div>
    </div>


    <div class="navbuttons">
        <button id="submitButton" class="btn" type="submit" value="Submit">Reset my Account</button>
    </div>

</form>

<script>
    function isValid() {
        if (checkPassword() && checkConfirm()) {
            return true;
        } else {
            alert('There is a problem with the passwords you entered that needs to be resolved before you continue.');
            return false;
        }
    }

    function isStrongPassword(password) {

        var regExp = /(?=.*[a-z])(?=.*[A-Z])(?=.*[!@#$%&*()\d]).{8,}/;

        var validPassword = regExp.test(password);

        return validPassword;
    }

    function checkPassword() {
        control = document.getElementById('password');
        advice = document.getElementById('password-advice');

        if (isStrongPassword(control.value)) {
            markControl(control, 'green');
            showHideAdvice(advice, false);
            return true;
        } else {
            markControl(control, 'red');
            showHideAdvice(advice, true);
            return false;
        }

        checkConfirm();
    }

    function checkConfirm() {
        pwd = document.getElementById('password');
        conf = document.getElementById('password-confirm');
        advice = document.getElementById('confirm-advice');


        if (pwd.value == conf.value) {
            markControl(conf, 'green');
            showHideAdvice(advice, false);
            return true;
        } else {
            markControl(conf, 'red');
            showHideAdvice(advice, true);
            return false;
        }
    }

    function markControl(control, colour) {
        control.style.borderBottomStyle = 'solid';
        control.style.borderBottomWidth = '5px';
        control.style.borderBottomColor = colour;
    }

    function showHideAdvice(control, shown) {
        if (shown) {
            control.style.visibility = 'visible';
            control.style.display = 'inherit';
            control.style.height = 'auto';
        } else {
            control.style.visibility = 'hidden';
            control.style.display = 'none';
            control.style.height = '0px';
        }
    }
</script>


