<label style="visibility: hidden; display: none; height: 0px;" id="pageTitle"
       title="Register to Use The Service"></label>


<form action="/register" method="post">

    <p>
        Enter the username and password that you usually use to log in to your computer<br />
        <input name="username" type="text" placeholder="Username" autocomplete="off"/>
    </p>

    <p>
        <input name="password" type="password" placeholder="Password" autocomplete="off"/>
    </p>


    <div class="navbuttons">
        <button class="btn" type="submit" value="Submit">Next ></button>
    </div>

</form>

