<label style="visibility: hidden; display: none; height: 0px;" id="pageTitle"
       title="Welcome to the Password Self-Service Tool"></label>

<p>You can either recover an account for which you have forgotten the password, or register to use the service.</p>

<div class="navbuttons">
<button class="btn" onclick="protoNavAction(this)" value="username">Recover my account &nbsp;></button><br /><br />
<button class="btn" onclick="protoNavAction(this)" value="register">Register to use the service &nbsp;></button>
</div>
